{% extends "base.html" %}
{% load i18n static %}
{% block title %}
    Change password
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-6 mt-5">
        <h4>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</h4>
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email">
                    {{ form|crispy }}
                    {{ form.email.errors }}
                </div>
                <input type="submit" class="btn btn-primary mt-1" value="{% translate 'Reset my password' %}">
            </fieldset>
        </form>
    </div>
{% endblock %}
