{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Создать статью{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row col-lg-6">
            <h2>Создать статью</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success mt-3">Создать</button>
            </form>
        </div>
    </div>
{% endblock %}
